@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
body {
    font-family: Helvetica, sans-serif;
    margin: auto;
}

.container {
    max-width: 1330px;
    margin: auto;
}

#top-nav {
    background-color: rgb(244, 245, 249);
}

#top-nav .container {
    display: flex;
    justify-content: end;
    gap: 20px;
    padding: 5px;
}

small a {
    text-decoration: none;
    color: black;
    font-weight: 530;
}

small a:hover {
    text-decoration: underline;
}

#nav {
    margin: 1em 2em 0.1em 5em;
}

#nav .container {
    display: flex;
    justify-content: space-between;
}

#nav h1 {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.0001px;
    color: #003087;
    margin: 0;
    padding: 0;
}

#nav .container div {
    display: flex;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.search-wrapper {
    position: relative;
}

.search-input {
    padding: 10px 10px 10px 20px;
    width: 200px;
    height: 20px;
    border: none;
    border-bottom: 1px solid black;
    align-self: center;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #999;
}

footer {
    background-color: rgb(244, 245, 249);
    padding: 2em 0em;
    margin-block: 20px;
}

#footer-one {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin: 2em;
}

#footer-one a {
    color: rgb(138, 138, 138);
}

#footer-two {
    display: flex;
    gap: 2em;
    cursor: pointer;
    margin: 2em;
}

#footer-three,
#footer-four {
    font-size: 0.9em;
    margin: 0.4em 2em;
}

#footer-three {
    display: flex;
    gap: 3em;
}

#footer-five small {
    margin: 0.9em 0px;
    display: block;
    font-weight: 600;
}

.slider1 {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider1 .slides1 {
    display: flex;
    /* Use flexbox to align images in a row */
    width: 100%;
    transition: transform 1s ease-in-out;
    /* Smooth sliding effect */
}

.slider1 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    /* Prevent images from shrinking */
}

.slider1 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background-color: transparent;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    padding: 4px 8px;
    border: none;
}

.Previous2 {
    left: 0;
}

.Next2 {
    right: 0;
}


/* //Second Carousel */

.slider2 {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider2 .slides2 {
    display: flex;
    /* Use flexbox to align images in a row */
    width: 100%;
    transition: transform 1s ease-in-out;
    /* Smooth sliding effect */
}

.slider2 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    /* Prevent images from shrinking */
}

.slider2 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background-color: transparent;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    padding: 4px 8px;
    border: none;
}

.Previous1 {
    left: 0;
}

.Next1 {
    right: 0;
}


/* //Third Carousel */

.slider3 {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider3 .slides3 {
    display: flex;
    /* Use flexbox to align images in a row */
    width: 100%;
    transition: transform 1s ease-in-out;
    /* Smooth sliding effect */
}

.slider3 img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    /* Prevent images from shrinking */
}

.slider3 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background-color: transparent;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    padding: 4px 8px;
    border: none;
}

.Previous3 {
    left: 0;
}

.Next3 {
    right: 0;
}


/*4th Carousel  */

.slider4 {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider4 img {
    width: 100%;
    height: auto;
    display: none;
}

img.displaySlide4 {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider4 button {
    position: absolute;
    top: 46%;
    transform: translate(-1%);
    font-size: 1.8rem;
    background-color: transparent;
    color: hsl(0, 0%, 0%);
    cursor: pointer;
    /* border-radius: 50%; */
    padding: 4px 8px;
    border: none;
}

.Previous4 {
    left: 0px;
}

.Next4 {
    right: 0px;
}

@keyframes fade {
    from {
        opacity: .5
    }
    to {
        opacity: 1;
    }
}


/* 5th image */

.slider5 {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider5 img {
    width: 100%;
    height: auto;
    /* display: none; */
}


/* 6th image */

.slider6 {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider6 img {
    width: 100%;
    height: auto;
    /* display: none; */
}

.topics {
    max-width: 100%;
    padding: 20px;
    text-align: left;
}

#topi {
    padding-left: 10px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.card {
    position: relative;
    width: calc(20% - 20px);
    overflow: hidden;
    cursor: pointer;
    /* border-radius: 10px; */
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.09);
}

.shockTeam {
    font-size: 12px;
    padding: 12px 15px 0px 12px;
    font-weight: 600;
}

.shockTeam1 {
    font-size: 10px;
    padding: 0px 14px;
}

.card {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    width: calc(20% - 20px);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.09);
    /* Scale effect on hover */
}

@media (max-width: 1200px) {
    .card {
        width: calc(25% - 20px);
        /* 4 cards in a row */
    }
}

@media (max-width: 992px) {
    .card {
        width: calc(33.33% - 20px);
        /* 3 cards in a row */
    }
}

@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px);
        /* 2 cards in a row */
    }
}

@media (max-width: 576px) {
    .card {
        width: calc(100% - 20px);
        /* 1 card in a row */
    }
}

footer {
    background-color: rgb(244, 245, 249);
    padding: 2em 0em;
}


/* TOPIC CSS END */


/* FOOTER START */

#footer-one {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin: 2em;
}

#footer-one a {
    color: rgb(138, 138, 138);
}

#footer-two {
    display: flex;
    gap: 2em;
    cursor: pointer;
    margin: 2em;
}

#footer-three,
#footer-four {
    font-size: 0.9em;
    margin: 0.4em 2em;
}

#footer-three {
    display: flex;
    gap: 3em;
}

#footer-five small {
    margin: 0.9em 0px;
    display: block;
    font-weight: 600;
}


/* FOOTER END */


/* New Drop*/

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-block: 30px;
}

@media (max-width: 900px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #container {
        grid-template-columns: 1fr;
    }
}

#card {
    background-color: white;
    padding: 15px;
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#card:hover {
    border: 0.001px solid black;
}

#card img {
    max-width: 100%;
    padding: 0px;
    height: auto;
    margin-bottom: 15px;
    background-color: rgb(247, 248, 250);
    transition: all 0.2s ease-in-out;
}

#card img:hover {
    scale: 1.05;
}

.mrp {
    margin-top: 20px;
    font-size: .5em;
}

#card h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

#card p {
    font-size: 14px;
    color: black;
    margin: 5px 0;
}

.badge-new {
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}

.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}

#btn-newdrops {
    display: block;
    margin: auto;
    padding: 15px 35px;
    background-color: black;
    cursor: pointer;
    color: white;
    border: none;
}

#btn-newdrops:hover {
    opacity: 0.5;
}